[Unit]
Description=Ada client service

[Service]
Restart=always
RestartPreventExitStatus=62
RestartSec=10
ExecStart=/opt/ada-client/ada-client
ExecStopPost=/opt/ada-client/exit-handler.sh

[Install]
WantedBy=multi-user.target
