[Unit]
Description=Host Insight Client service

[Service]
Restart=always
RestartPreventExitStatus=62
RestartSec=10
ExecStart=/opt/host-insight-client/host-insight-client
ExecStopPost=/opt/host-insight-client/exit-handler.sh

[Install]
WantedBy=multi-user.target
